body{
    font-family: 'Rubik', sans-serif;
}
.fix-navbar{
    margin-bottom: 76px;
}
.bg-navbar{
    background: #050505;
    color: #FFF;
    font-weight: bolder;
    margin-bottom: 76px;
}

.upper-footer{
    background-color: #262626;
}

.footer-link{
    color: #FFF;
    opacity: 70%;
    text-decoration: none;
    text-transform: uppercase;
}
.footer-link:hover{
    color: #FFF;
    opacity: 100%;
    text-decoration: none;
}

.titles{
    color: #FFF;
    opacity: 100%;
    font-weight: bolder;
    text-transform: uppercase;
}

.boton-rosa{
    background-color: #FE7B68;
    opacity: 90%;
    font-weight: bolder;
    color: #FFF;
}

.boton-rosa:hover{
    background-color: #FE7B68;
    opacity: 100%;
    font-weight: bolder;
    color: #FFF;
}

.btn-link{
    color: #FFF;
    text-decoration: none;
}
.btn-link:hover{
    color: #FFF;
    text-decoration: none;
}

.hr-2{
    border-color: #FFF;
}

.carousel-title1{
    color: #FFF;
    font-family: 'Rubik Mono One', sans-serif   !important;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.carousel-title2{
    color: #FFF;
    opacity: 90%;
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.28);
    text-decoration: none;
}

.carousel-title2:hover{
    cursor: pointer;
    color: #FFF;
    opacity: 100%;
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.28);
    text-decoration: none;
}

.titulos{
    font-family: 'Rubik Mono One', sans-serif   !important;
    letter-spacing: 1.2px;
    color: #050505;
    font-weight: 100;
    text-transform: uppercase;
}

.titulos-card{
    color: #050505;
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
}

.titulos-card:hover{
    cursor: pointer;
    color: #050505;
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
}

.btn-ubisoft{
    background: #FE7B68;
    color: #FFF;
    font-weight: 900;
    font-size: 1,5rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.btn-ubisoft:hover{
    background: #FE7B68;
    color: #FFF;
    font-weight: 900;
    font-size: 1,5rem;
    text-transform: uppercase;
    -webkit-box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.3);
    box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.3);
    letter-spacing: 1.2px;
}

.card-hover-shadow:hover{
    -webkit-box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.42);
    -moz-box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.42);
    box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.42);
}

.bg-ubistore{
    background-color: #c7c7c7;
}

.bg-pink{
    background-color: #FE7B68;
}

.btn-ubisoft-dark{
    background: #262626;
    color: #FFF;
    font-weight: 900;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.btn-ubisoft-dark:hover{
    background: #262626;
    color: #FFF;
    font-weight: 900;
    font-size: 1.6rem;
    text-transform: uppercase;
    -webkit-box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.3);
    box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.3);
    letter-spacing: 1.2px;
}

.link-card{
    color: #FE7B68;
    font-weight: 900;
    font-size: 1.6rem;
}

.link-card:hover{
    color: #FE7B68;
    font-weight: 900;
    font-size: 1.6rem;
    -webkit-box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.3);
    box-shadow: 6px 6px 38px -7px rgba(0,0,0,0.3);
    text-decoration: none;
}

.z-index{
    position: absolute; 
    top: 380px;
    left:10px;
    z-index: 1
   }
   
   .b-com{
    position: absolute; 
    top: 235px;
    left:10px;
    z-index: 1
   }
   .b-com-lg{
    position: absolute; 
    top: 450px;
    left:10px;
    z-index: 1
   }